.grid {
  background-color: var(--gray-2);
  display: grid;
  place-content: center; // je centre les elements
  grid-template-columns: repeat(3, 350px); // je veux 3 grille de 3 collones
  grid-auto-columns: repeat(
    3,
    350px
  ); // pareil pour les colonnes suplementaires
  gap: 40px;
  padding: 50px 0px;
  border-radius: 25px;
  .contentCard {
    width: 1130px;
  }
}
