.display {
  img {
    width: 597px;
    height: 263px;
  }
  p {
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
  }
  a {
    color: var(--primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
  .errorStyle {
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
  }
  .textBlock {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
