.content {
  background-color: var(--primary);
  height: 47px;
  width: 1023px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  p {
    color: var(--text-color-1);
    font-weight: 500;
    font-size: 24px;
  }
  img {
    animation: rotateButton, 2s;
  }
  .texteContent {
    p {
      text-align: justify;
    }
  }
}

@keyframes rotateButton {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
