.section {
  padding: 50px 0px;
  object-fit: contain;
  img {
    border: 1px solid var(--gray-1);
    border-radius: 25px;
  }
  /* Chez vous, partout et ailleurs */
  .texte {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 32%;
    bottom: 68%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    color: var(--text-color-1);
  }
}
